<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css')}}" />
</head>
<body>
    <div class="container">
        <header class="title-container">
            <h1>URL Shortener</h1>
        </header>

        <div class="form-container">
            <form method="post" action="{{ url_for('home.home') }}">
                <label for="fullUrl" class="visually-hidden">Paste URL Here</label>
                <div class="input-group">
                    <input required placeholder="Enter the URL" type="url" name="fullUrl" id="fullUrl">
                    <button class="btn">Shorten</button>
                </div>
            </form>

            <div class="shortUrl">
                <input type="text" name="shortUrl" placeholder="shortened url" id="shortUrl" value="{{ result if result else '' }}" readonly>
            </div>
        </div>
    </div>
</body>
</html>
